/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--common-font-family);
  font-size: var(--common-font-size);
  background-image: var(--background-gradients);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--common-font-weight);
}

.header {
  display: grid;
  place-items: center;
  block-size: clamp(32.875rem, 27.1839rem + 13.6519dvh, 35.375rem);
}

.header__page-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--items-border-color);
  font-family: var(--additional-font-family);
  text-transform: uppercase;
  background-color: var(--items-background-color);
  inline-size: var(--items-inline-size);
  block-size: clamp(20.4375rem, -14.1891rem + 105.1282dvh, 23rem);
}

.header__page-header {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023dvw, 4.0625rem);
}

.header__page-subheader {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451dvw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.main__card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--items-border-color);
  background-color: var(--items-background-color);
  inline-size: var(--items-inline-size);
}

.main__card-container:not(:last-child) {
  border-bottom: 2px solid var(--items-border-color);
}

.main__card-header-container {
  padding: 4px 10px;
}

.main__card-header {
  font-variation-settings: 'wght' var(--header-font-weight);
  font-size: var(--common-font-size);
}

.main__card-image-container {
  position: relative;
  display: flex;
  justify-content: end;
  overflow: hidden;
  block-size: var(--items-inline-size);
}

.main__card-image {
  height: 100%;
}

.sepia-image {
  filter: sepia(80%);
}

.sepia-contrast-image {
  filter: sepia(80%) contrast(150%);
}

.contrast-image {
  filter: contrast(150%);
}

.brightness-image {
  filter: brightness(200%);
}

.contrast-brightness-image {
  filter: contrast(150%) brightness(200%);
}

.contrast-brightness-blur-image {
  filter: contrast(150%) brightness(200%) blur(4px);
}

.blur-image {
  filter: blur(10px);
}

.opacity-image {
  filter: opacity(80%);
}

.main__card-image-logo {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--additional-font-family);
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
}

.main__card-article-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.main__card-article {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main__card-button-container {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.button {
  background-color: #fff;
  cursor: pointer;
}

.text-button {
  position: relative;
  transition: box-shadow 0.3s ease;
}

.text-button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.text-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.text-button:hover::before {
  transform: scaleX(1);
}

.text-button span, .text-button svg {
  position: relative;
  z-index: 1;
  color: #fff;
  pointer-events: none;
  mix-blend-mode: difference;
}

.card__like-button {
  border: 2px solid var(--items-border-color);
  font-family: var(--additional-font-family);
  font-size: 14px;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.card__icon-button {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
  outline: none;
}

.card__icon-button:focus {
  outline: none;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-right: var(--footer-side-padding);
  padding-bottom: 100px;
  padding-left: var(--footer-side-padding);
}

.footer__button {
  display: flex;
  flex-direction: var(--footer-button-direction);
  align-items: center;
  gap: 8px;
  border: 2px solid var(--items-border-color);
  padding: 17px 20px;
  font-family: var(--additional-font-family);
  font-size: 14px;
  line-height: 90%;
}

.footer__button-floppy {
  width: var(--floppy-size);
  height: var(--floppy-size);
}

.dialog {
  display: none;
  border: 2px solid var(--items-border-color);
  padding: var(--dialog-paddings);
  font-family: var(--additional-font-family);
  font-size: 14px;
  text-transform: uppercase;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}

.dialog[open] {
  display: grid;
  gap: 30px;
}

dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog__label {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
}

.dialog__label-floppy {
  width: 39px;
  height: 39px;
}

.dialog__button {
  min-height: 38px;
  border: 2px solid var(--items-border-color);
}

.contour {
  transition: fill 0.1s linear 0s;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear 0s;
}

.sparks {
  opacity: 0;
}

.like_icon {
  transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--accent-color);
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scaling 0.3s ease-in 0.1s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .sparks {
  animation: sparks-animation 0.3s ease-in 0.3s;
}

@supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
  .main__card-image-logo {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

@supports not ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
  .main__card-image-logo {
    text-shadow: 0 0 1px #fff;
  }
}